In [1]:
import os 
import pandas as pd 
import numpy as np 
from IPython.core.display import display, HTML 
import pymongo 
from pymongo import MongoClient 
print ('Mongo version', pymongo.version) 
client = MongoClient('localhost', 27017) 
db = client.test 
collection = db.people

C:\Users\goyal\AppData\Local\Temp\ipykernel_17896\1008846280.py:4: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

Mongo version 4.3.3

In [2]:
record = [{ 
"Name": "Maureen Skinner", 
"Age": 87, 
"Sex": "F",
"Blood pressure": [{"sys": 156}, {"dia": 82}], 
"Heart rate": 82 
},{"Name": "x Skinner", 
"Age": 87, 
"Sex": "F", 
"Blood pressure": [{"sys": 156}, {"dia": 82}], 
"Heart rate": 82}, 
{"Name": "y Skinner", 
"Age": 87, 
"Sex": "F", 
"Blood pressure": [{"sys": 156}, {"dia": 82}], 
"Heart rate": 82} 
] 
collection.insert_many(record)

In [4]:
for item in collection.find(): 
    print(item)

{'_id': ObjectId('637effa7ad2c872125c5db62'), 'Name': 'Maureen Skinner', 'Age': 87, 'Sex': 'F', 'Blood pressure': [{'sys': 156}, {'dia': 82}], 'Heart rate': 82}
{'_id': ObjectId('637effa7ad2c872125c5db63'), 'Name': 'x Skinner', 'Age': 87, 'Sex': 'F', 'Blood pressure': [{'sys': 156}, {'dia': 82}], 'Heart rate': 82}
{'_id': ObjectId('637effa7ad2c872125c5db64'), 'Name': 'y Skinner', 'Age': 87, 'Sex': 'F', 'Blood pressure': [{'sys': 156}, {'dia': 82}], 'Heart rate': 82}

In [5]:
collection.drop()
os.system('mongoimport -d test -c people dummyData.json')

1

In [6]:
pipeline = [ 
{"$group": {"_id":"$Country", 
"AvgAge":{"$avg":"$Age"}, 
"Count":{"$sum":1}, 
}}, 
{"$sort":{"Count":-1,"AvgAge":1}} 
] 
aggResult = collection.aggregate(pipeline) 
df1 = pd.DataFrame(list(aggResult)) 
df1.head()

Empty DataFrame
Columns: []
Index: []

In [7]:
pipeline = [ 
{"$match": {"Age":87}}, 
] 
aggResult = collection.aggregate(pipeline) 
df2 = pd.DataFrame(list(aggResult)) 
df2.head()

Empty DataFrame
Columns: []
Index: []